/* Libby Theme */
.theme-cream {
  --libby-color-body: #333333;
  --libby-color-primary: #D1CCBA;
  --libby-color-secondary: #FFFFFF;
  --libby-bg-color: #FFFFFF;
}

.theme-gray {
  --libby-color-body: #333333;
  --libby-color-primary: #CCCCCC;
  --libby-color-secondary: #FFFFFF;
  --libby-bg-color: #FFFFFF;
}

.theme-red {
  --libby-color-body: #333333;
  --libby-color-primary: #99081A;
  --libby-color-secondary: #FFFFFF;
  --libby-bg-color: #FFFFFF;
}

.theme-green {
  --libby-color-body: #333333;
  --libby-color-primary: #4F6B53;
  --libby-color-secondary: #FFFFFF;
  --libby-bg-color: #FFFFFF;
}

.theme-blue {
  --libby-color-body: #333333;
  --libby-color-primary: #24437b;
  --libby-color-secondary: #FFFFFF;
  --libby-bg-color: #FFFFFF;
}

/* Libby Slideshow */
.libby-slideshow {
  display: block; 
  width: 100vw; 
  height: 100vh; 
  overflow: hidden; 
  position: absolute; 
  background-color: #FFFFFF;
}

.libby-slideshow img { 
  position: absolute; 
  opacity: 0; 
  object-fit: cover; 
  width: 100vw; 
  height: 100vh;
}

@keyframes libby-slideshow {
  28%{
    opacity:1;
  } 
  
  32% {
    opacity:0;
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 84%;
  }
    
  100%{
    transform: scale(1.5) translateY(10px);
    transform-origin: center;
  }
}