@font-face {
  font-family: 'nashvilleBody';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v25/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtM.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'nashvilleHeading';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/nashville/TheBlacklight.ttf') format('truetype');
}

@font-face {
  font-family: 'nashvilleTitle';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/nashville/OptimusPrinceps.ttf') format('truetype');
}

@font-face {
  font-family: 'nashvilleHandwriting1';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/nashville/StylishCalligraphy.ttf') format('truetype');
}

@font-face {
  font-family: 'nashvilleHandwriting2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/nashville/Millerstone.ttf') format('truetype');
}
